/* Goggle fonts import: IBM Plex Sans */
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300&display=swap');

/* Default browser style-override selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* General font styles */
    font-family: 'Figtree', sans-serif;
    color: oklch(100% 0 0);
}

h1,
h2,
h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: oklch(100% 0 0);
}

/* Header */
header {
    position: fixed;
    width: 100%;
    background-color: oklch(0% 0 0 / 19.2%);
    /* Blur and box-shadow effect, layered above profile image */
    backdrop-filter: blur(25px);
    box-shadow: 0 5px 20px oklch(0% 0 0 / 52.16%);
    z-index: 15;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;
}

header>div {
    padding: 5px 10px 5px 10px;
}

header a {
    text-decoration: none;
    color: inherit;
}

header h1 {
    text-transform: capitalize;
}

/* Navbar menu styling */
.menu {
    font-size: 1.1em;
    letter-spacing: 2px;
    list-style-type: none;
}

.menu>li {
    margin: 0.6em 0 0.2em;
    padding: 0.4em 0;
    padding-left: calc(50vw - 100px);
    border: solid 2px oklch(100% 0 0 / 50%);
    border-radius: 12px;
    text-transform: uppercase;
    font-weight: bold;
}

/* Navbar toggle and styles */
nav {
    display: none;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 12px;
    right: 15px;
    font-size: 1.4em;
}

/* Main */
main {
    /* Make main element use available space and push footer to bottom. Grow 1, Shrink 0, Basis auto */
    flex: 1 0 auto;
    /* Default page margin for main content to allow space for drop-down menu */
    margin-top: 250px;
    /* Apply flex properties to all child elements */
    display: flex;
    flex-direction: column;
}

#hero-index {
    background-color: oklch(83.43% 0.095 206.08 / 87%);
    /* Hero image taken from https://www.etsy.com/uk/listing/1434066291/geometric-lake-and-mountain-3-digital?gpla=1&gao=1&&utm_source=google&utm_medium=cpc&utm_campaign=shopping_uk_en_gb_e-art_and_collectibles-prints-digital_prints&utm_custom1=_k_CjwKCAjwkY2qBhBDEiwAoQXK5YtFF5RTxpAGHCvKSo4PhYEXfdH-GG6y6nd_EiV-a7fY0t7YmXeDERoC_YwQAvD_BwE_k_&utm_content=go_12576524531_120383100700_507649705825_pla-328046931108_c__1434066291engb_102858184&utm_custom2=12576524531&gad_source=1&gclid=CjwKCAjwkY2qBhBDEiwAoQXK5YtFF5RTxpAGHCvKSo4PhYEXfdH-GG6y6nd_EiV-a7fY0t7YmXeDERoC_YwQAvD_BwE */
    background-image: url(../images/hero-bg.png);
    /* Background position top left so the image reveals more of itself when the screen size increases */
    background-position: top left;
    background-repeat: no-repeat;
    padding-top: 100vh;
    width: 100vw;
    max-height: 1258px;
    position:fixed;
    top: 0px;
    z-index: -5;
}

/* Selectors for backgrounds on other pages */
.other-pages-bg {
    background-color: oklch(83.43% 0.095 206.08 / 87%);
    /* Hero image taken https://pixabay.com/illustrations/color-triangle-geometric-textured-2174049/ */
    background: url(../images/geometric-bg.png) center center / cover no-repeat;
    padding-top: 100vh;
    width: 100vw;
    position:fixed;
    z-index: -5;
}

/* Specific positioning and colour filters for different pages */
#contact {
    filter: hue-rotate(320deg) saturate(0.8);
}

#portfolio {
    filter: hue-rotate(40deg) saturate(0.8);
}

/* Selector to apply flex properties and relative positioning for profile image and it's detailing */
#profile-center {
    display: flex;
    position: relative;
}

#profile-image {
    background: url("../images/jacen-profile-picture-crop.jpg") no-repeat center / cover;
    height: 130px;
    width: 130px;
    /* Circle styling for profile image */
    border-radius: 50%;
    position: absolute;
    box-shadow: 3px 3px 10px oklch(0% 0 0 / 69.02%);
    top: -85px;
    left: 20px;
    z-index: 10;
}

/* Extra detailing on profile image; circle-ring overlay */
#profile-backdrop {
    height: 124px;
    width: 124px;
    border-radius: 50%;
    border: solid 2px oklch(90.67% 0 0 / 52.16%);
    position: absolute;
    top: -82px;
    left: 23px;
    z-index: 11;
}

.languages {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    justify-content: space-evenly;
    position: relative;
    top: 45px;
    z-index: 12;
    margin-right: 150px;
}

#html {
    background: url(../images/html-logo.png) no-repeat center / cover;
    height: 50px;
    width: 50px;
    filter: saturate(0.7);
}

#css {
    background: url(../images/css-logo.png) no-repeat center / cover;
    height: 50px;
    width: 50px;
    filter: saturate(0.7);
}

.container-style {
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: oklch(0% 0 0 / 19.2%);
    backdrop-filter: blur(25px);
    box-shadow: 0 5px 20px oklch(0% 0 0 / 52.16%);
    border-radius: 15px;
}

#header-1,
#header-2,
#header-3, 
#contact-page h2,
#contact-page h3 {
    padding: 3px 10px 3px 0;
    font-size: 1.2em;
    border: solid 1px oklch(90.67% 0 0 / 52.16%);
    border-right: none;
    border-left: none;
    background-color: oklch(90.67% 0 0 / 20%);
    text-align: end;
}

main p {
    letter-spacing: 1px;
    line-height: 25px;
    padding: 8px 10px 0 10px;
    text-align:left;
    overflow: hidden;
}

#section-1,
#section-2,
#section-3 {
    max-width: 450px;
    margin:auto;
}

#section-1 {
    margin-top: 0px;
}

#section-2 {
    margin-top: 80px;
}

#section-3 {
    margin-top: 120px;
    margin-bottom: 120px;
}

#section-3 li {
    list-style-type: none;
}

.contact-icons {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    justify-content: space-evenly;
    position: relative;
    top: 36px;
    z-index: 12;
    margin-right: 160px;
}

#section-3 a {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

#section-3 ul {
    padding-top: 10px;
    text-align: center;
    line-height: 25px;
}

#section-3 a:hover {
    color: oklch(83.43% 0.095 55.12 / 87%);
}

/* CV page */
#cv-page-margin {
    margin-top: 60px;
}

/* CV header; contact information */
.cv-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 0.5em;
    box-shadow: 0px 5px 10px oklch(0% 0 0 / 40%);
    padding: 4px 10px;
    margin: 20px 0 10px 0;
    line-height: 20px;
    background-color: oklch(41.45% 0.095 247.07 / 40%);
    backdrop-filter: blur(3px);
}

.cv-contact h2 {
    text-transform: none;
}

/* Side bar styling, will make more sense on larger screens */
.side-bar-1,
.side-bar-2,
.text-body {
    margin: 20px 30px 30px 0;
    line-height: 20px;
    letter-spacing: 1px;
    box-shadow: 5px 5px 10px oklch(0% 0 0 / 40%);
    padding: 0 10px 20px;
    border-radius: 0 15px 15px 0;
    border-left: none;
    background-color: oklch(41.45% 0.095 247.07 / 40%);
    backdrop-filter: blur(3px);
}

.side-bar-1 h2,
.side-bar-2 h2,
.text-body h2 {
    padding: 10px;
    margin-top: 20px;
    line-height: 30px;
}

.side-bar-1 li {
    margin-left: 30px;
}

.side-bar-2 h3 {
    font-size: 0.7em;
}

/* CV main body styling */
.text-body {
    margin: 20px;
    border-radius: 15px;
}

.text-body p {
    line-height: 19px;
}

.text-body h3 {
    margin-top: 30px;
}

/* Contact Page */
#contact-page-icon {
    margin-top: -120px;
    font-size: 1.5em;
    position: relative;
    display: flex;
    justify-content: center;
    text-shadow: 8px 8px 10px oklch(0% 0 0 / 52.16%);
}

#contact-page {
    margin: 70px 20px 100px 20px;
}

/* Override for class selector used on index page */
#contact-page h2,
#contact-page h3 {
    text-align: center;
    padding-right: 0;
}

#contact-page h3 {
    text-transform: capitalize;
    font-size: 1em;
    margin: 10px 0 10px;
}

/* Radio button styling */
.radio-position {
    margin: 20px 0 10px 40px;
}

.radio-position i  {
    opacity: 0;
    position: relative;
    right: 10px;
}

.radio-style-label {
    border: solid 1px oklch(90.67% 0 0 / 52.16%);
    box-shadow: 5px 5px 10px oklch(0% 0 0 / 40%);
    padding: 4px 10px;
    margin-right: 10vw;
    border-radius: 9px;
}

input[type="radio"] {
    display: none;
}

/* Highlights checked radio-query */
input[type="radio"]:checked~label {
    background-color: oklch(90.67% 0 0 / 40%);
}

/* Displays check mark on checked radio-query */
input[type="radio"]:checked~i {
    opacity: 1;
}

/* Specific styling so all options have the same width */
.recruitment {
    padding-right: 46px;
}

.collaboration {
    padding-right: 39px;
}

/* Text-input styling */
.enter-details {
    margin-top: 40px;
    text-align: center;
}

.enter-details label {
    /* Hides labels */
    display: None;
}

.enter-details div {
    padding: 10px 0 10px;
}

/* Textarea styling */
.enter-details input,
textarea {
    padding: 10px;
    text-align: center;
    background: oklch(0% 0 0 / 10%);
    border: solid 1px oklch(90.67% 0 0 / 52.16%);
    border-radius: 10px;
    color: oklch(90.67% 0 0);
    box-shadow: inset 5px 5px 10px oklch(0% 0 0 / 20%); 
    resize: none;
}

input::placeholder {
    color: oklch(90.67% 0 0 / 80%);
    text-align: center;
}

textarea {
    text-align: start;
    font-family: 'Figtree', sans-serif;
}

textarea::placeholder {
    color: oklch(90.67% 0 0 / 80%);
    text-align: start;
}

.text-box-size {
    height: 200px;
    width: 191px;
}

/* Submit and reset button styling */
#form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.submit-button {
    color: inherit;
    background-color: oklch(90.67% 0 0 / 20%);;
    border: solid 1px oklch(90.67% 0 0 / 52.16%);
    box-shadow: 5px 5px 10px oklch(0% 0 0 / 40%);
    padding: 4px 20px;
    border-radius: 9px;
}

/* Footer */
footer {
    color: oklch(100% 0 0);
    background-color: rgba(0, 0, 0, 0.192);
    backdrop-filter: blur(25px);
    box-shadow: 0 -5px 20px oklch(0% 0 0 / 52.16%);
}

footer h3 {
    font-size: 0.7em;
    padding: 10px 0 10px 0;
}

.social-networks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    flex-basis: 191px;
}

.social-networks i {
    color: oklch(100% 0 0);
    font-size: 1.5em;
    padding: 10px 50px 10px 50px;
}