/* Goggle fonts import: IBM Plex Sans */
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300&display=swap');

/* Default browser style-override selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* General font styles */
    font-family: 'Figtree', sans-serif;
}

/* Header */
header {
    background-color: oklch(55.71% 0.095 206.08 / 87%);
}

header a {
    text-decoration: none;
    color: oklch(100% 0 0);
}

/* Footer */
footer {
    background-color: oklch(55.71% 0.095 206.08 / 87%);
    color: oklch(100% 0 0);
}

.social-networks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

.social-networks i {
    color: oklch(100% 0 0);
    font-size: 1.5em;
    padding: 10px 50px 10px 50px;
}

/* Main content */
main {
    /* Make main element use available space and push footer to bottom. Grow 1, Shrink 0, Basis auto */
    flex: 1 0 auto;
    background-color: oklch(83.43% 0.095 206.08 / 87%);
}